@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {

  background-color: #121212;
  color: #f3f3f3;
} */

:root {
  --themeColor: #0d1b2a;
  --darkThemeColor: #0a141f;
  --lightThemeColor: #1b3755;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;

  /* Gradient + Image overlay */

  /* background: linear-gradient(
    135deg,
    rgba(51, 51, 51, 0.6),
    rgba(25, 25, 25, 0.6),
    rgba(51, 51, 51, 0.6)
  ); */
  /* url("../src/assets/background/back.jpeg");  */

  background-color: #0b0e14;

  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* gives a parallax feel */
}

.bg-grid-pattern {
  position: absolute;
  inset: 0;
  opacity: 0.02;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h40v40H0z' fill='none'/%3E%3Cpath d='M0 0h1v40H0zM0 0h40v1H0z' fill='%23ffffff'/%3E%3C/svg%3E");
  z-index: 0;
}

.header {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Bricolage Grotesque", sans-serif;
}
.subheader {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;
}

.yellowText {
  color: #d6b25e;
}

.yellow {
  background-color: #d6b25e;
}
