/* src/components/BackgroundAnimation.css */
/* .animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at 50% 50%, #e6b8008f, transparent 50%);
  filter: blur(70px);
  animation: moveBlob 25s ease-in-out infinite;
  z-index: -1;
} */

/* src/components/BackgroundAnimation.css */
.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      circle at 20% 50%,
      rgba(230, 184, 0, 0.371),
      transparent 50%
    ),
    radial-gradient(circle at 80% 50%, rgba(255, 217, 0, 0.21), transparent 50%);
  filter: blur(70px);
  animation: moveBlob 25s ease-in-out infinite;
  z-index: -1;
}

@keyframes moveBlob {
  0% {
    transform: translate(-20%, -10%) scale(1);
  }
  25% {
    transform: translate(30%, 10%) scale(1.2);
  }
  50% {
    transform: translate(10%, 40%) scale(1.1);
  }
  75% {
    transform: translate(50%, 30%) scale(1.3);
  }
  100% {
    transform: translate(-20%, -10%) scale(1);
  }
}
